.CruiseDetail--contactInfoDiv {
  width: 50%;
  margin: 0 auto;
}

.CruiseDetail--contactInfoTitle {
  width: 100%;
  margin: 25px auto;
  text-align: center;
}

.CruiseDetail--errorMessage {
  margin: 0 auto;
}

.CruiseDetail {
  grid-area: details;
  height: var(--body-height);
  overflow: auto;
  border-left: 1px solid var(--noaa-background-color);
}