.Samples {
    display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 60px auto 200px 50px;
  grid-template-areas:
    "header header"
    "sidebar map"
    "grid grid"
    "footer footer";
  width: 100vw;
  height: 100vh;
}