.Repositories--wrapper {
    display: grid;
    grid-template-columns: 425px auto;
    /* grid-template-rows: auto; */
    grid-template-areas:
        "sidebar details";
    width: 100vw;
    height: calc(100vh - 125px);
    background-color: whitesmoke;
}

.Repositories--sidebar {
    grid-area: sidebar;
    overflow: auto;
    padding: 1rem;
    color: blue;
    text-decoration: none;
}


