.Samples {
}

.Samples--wrapper {
    display: grid;
    grid-template-columns: 425px auto;
    /* grid-template-rows: auto; */
    grid-template-areas:
        "sidebar map";
    width: 100vw;
    height: calc(100vh - 125px);
    background-color: whitesmoke;
}


.Samples--sidebar {
    grid-area: sidebar;
    overflow: auto;
    padding: 1rem;
    color: blue;
    text-decoration: none;
}

.Samples--main {
    grid-area: map;
    background-color: burlywood;
}
