.Repositories--wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas:
      "sidebar details";
  width: 100vw;
  /* need to accommodate height of header, footer */
  height: calc(100vh - 125px);
  background-color: whitesmoke;
}

.Repositories--sidebar {
  grid-area: sidebar;
  overflow: auto;
  padding: 1rem;
  color: blue;
  text-decoration: none;
  background-color: aqua;
}


.Repositories--datatable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.Repositories--datatable td {
  border: 1px solid black;
}

.Repositories--navlink {
  display: block;
  margin: 1rem 0;
  color: #282c34;
  text-decoration: none;
}