.FooterPanel {
    grid-area: footer;
    background-color:#112E51;
}

.FooterPanel--breadcrumbDiv {
    margin: auto;
    width: 996px;
}

.FooterPanel--breadcrumb {
    background-color:#112E51;
}

.ol.breadcrumb {
}

.breadcrumb {
    background-color:#112E51;
}

.breadcrumb a {
    color:white;
    font-size:12px;
    font-family:Helvetica,Arial;
    font-weight:bold
}

/* change the divider */
.breadcrumb-item+.breadcrumb-item::before {
    color: white;
    content: "|"
}

