.Header {
  width: 100vw;
  height: var(--header-height);
  /* height: 100vh; */
  background-color: var(--noaa-background-color);
  padding-bottom: 25px;
  grid-area: header;
}

.Header--container {
  display: grid;
  grid-template-columns: 280px auto 65px;
  color: white;
  /* height: var(--header-height) */
}


.Header--left {
  padding-left: 10px;
  padding-top: 5px;
}

.Header--center {
  text-align: center;
  /* TODO replace this hardcoded value w/ vertical centering */
  padding-top: 25px;
}

.Header--right {
  padding-right: 10px;
  padding-top: 5px;
}

.Header--titleDiv {
  display: inline-block;
  align-items: center; 

}
.Header--title {
  font-size: x-large;
  
}

.Header--nceiLogo {
  height: 50px;
  margin-bottom: 5px;
}

.Header--nsfLogo {
  width: 50px;
  height: 50px;
  float: right;
}

.Nav {
  padding-left: 50px;
}