.Samples--wrapper {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-areas:
      "sidebar map";
  width: 100vw;
  background-color: whitesmoke;
  height: var(--body-height);
  /* height: 100vh; */
}

.Samples--sidebar {
  grid-area: sidebar;
  overflow: auto;
  /* padding: 1rem; */
  color: black;
  text-decoration: none;
}

.Samples--main {
  grid-area: map;
}
